*{
    margin: 0;
    padding: 0;
}




h1 {
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  .navbar-gradient {
    background: linear-gradient(90deg, rgba(39, 157, 46, 1) 0%, rgba(38, 186, 195, 1) 88%);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.8rem;
    align-items: center;
    vertical-align: middle;
  }
  
  .navbar-nav{
    /* display: flex;
    align-items: center;
    padding-left: 3rem; */
    margin: 0.1rem 2.5rem;
    display: flex;
    max-width: 120px;
    align-items: center;
  }
  /* .navbar-logo {
    align-items: center;
    width: 2rem;
    height: auto;
    margin-right: 20px;
  } */
  
  
  /* .navbar-title {
    display:flex;
    flex-direction: column;
    vertical-align: center;
    margin: 0;
    padding: 0;
    column-gap: 0;
    row-gap: 0.5rem;;
  } */
  
  .navbar-title-provincia {
    line-height: 0.8rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: ansangeRegular;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin:0;
    padding: 0;
    align-items:flex-end;
  }
  
  .navbar-title-microcreditos {
    color: #FFFFFF;
    font-size: 1rem;
    font-family:ansangeLight;
    letter-spacing:0.1em;
    margin:0;
    padding: 0;
    line-height: 0.8rem;
  }
  
  .card {
    margin:auto;
    padding: 2rem;
    margin-top: 5vh;
    display: flex;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .contenido {
    padding: 20px;
  }
  
  .contenido h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .contenido p {
    
    font-size: 16px;
    line-height: 1.5;
  }
  
  .contenido a {
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  
  